<h1> <%= @combatant.name %> </h1>

<ul>
  <% @combatant.attributes.keys[2..-4].each do |k| %>
    <li><%= "#{k.capitalize}: #{@combatant[k]}" %></li>
  <% end %>
</ul>

<%= link_to "Change Name", edit_dojo_combatant_path(@combatant) %>
<%= link_to "Disqualify Combatant", dojo_combatant_path(@combatant), method: :delete %>
